body {
    background-color: #F9F9F9;
    background-image: url("../images/bg-noise.png");
    font-family: Helvetica, Arial, sans-serif;
}

.login_container {
    margin: 50px auto 60px;
    width: 510px;
}

html {
    color: #333;
}

.description {
    color: #777;
    font-size: 17px;
    line-height: 150%;
    margin: 0 0 15px;
}

.comments {
    color: #777;
    font-size: 14px;
    line-height: 100%;
    margin: 30px 0 15px;
}

.logo_text {
    margin-left: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #777;
}